.structur11 {
    text-align: center;
    justify-content: center;
    display: flex;
    height: 740px;
    padding: 90px 0p 90px 0;
    background-image: url("../login/books.webp");
    background-repeat: no-repeat;
    background-size: cover;

}

.sub_structur11 {
    display: flex;
    justify-content: center;
    height: 580px;
    width: 45%;
    box-shadow: 1px 1px 3px 3px rgb(6, 6, 6);
    margin: 40px;
    padding-top: 30px;
    border-radius: 40px;
    background-color: transparent;
}

.img111 {
    padding-top: 5px;
    justify-content: center;
    display: flex;
}

.container_img111 {
    background-color: rgb(223, 221, 221);

    border-radius: 130px;
    align-items: center;
    display: flex;
    height: 51px;
    width: 81px;
}

.profil111 {
    height: 80px;
    width: 80px;
    border-radius: 130px;
}

.mail111 {
    height: 30px;
    width: 30px;
    border-radius: 100px;
    transform: translate(13px, 10px);

}

.inputs111 {
    height: 30px;
    width: 300px;
    margin: 15px;

    padding-right: 50px;
}


.login11 {
    width: 200px;
    height: 40px;
    border-radius: 120px;
    margin-top: 20px;
    background-color: rgb(13, 13, 13);
    color: white;


}

.login11:hover {
    transform: scale(1.05);
    transition: .5s;
}




a {
    color: rgb(38, 63, 204);

    text-decoration: none;

}

.btns111 {
    background-color: rgb(13, 13, 13);
    color: beige;
    border-radius: 20px;
    margin: 20px;
    padding: 8px;
}

.btns111:hover {
    transform: scale(1.05);
    transition: .5s;
}

.red11 {
    color: red;
}